@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --small-fnt: 0.75rem;
  --medium-fnt: 1rem;
  --big-fnt: 1.75rem;

}